.App {
  text-align: left;
}

.student-info {
  margin-left: 1%;
  margin-bottom: 3%;
}

.container {
  background-color: darkgrey;
}

.student-pic {
  max-width: 100%;
  height: 150px;
  border: 0.5px solid black;
  border-radius: 50%;
  margin: 6%;
  float: left;
  display: inline-block;
}

.expand-button {
  font-size: 2em;
  float: right; 
}

.card {
  border: 0.3px solid black;
  width: 50%;
  margin-left: 25%;
  background-color: white;
}

.student-info {
  display: inline-block;
}

.student-container {
  margin: 6rem;
}

.container {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.test-scores {
  margin-left: 14em;
  margin-top: 1em;
}
